html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.header {
    display: block;
    background-color: brown;
}

#title {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    padding: 8px 0px;
    margin-top: 0;
}

.container {
    max-width: 960px; /* Maximum width for larger screens */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center-align text within the container */
}

#caption {
    font-weight: 600;
    font-size: 18px;
}

#choose-title {
    margin-top: 4px;
    font-size: 48px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #choose-title {
        font-size: 18px; /* Adjust this value as needed for smaller screens */
    }
}


.photos {
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
}

#left,
#right {
    width: 400px;
    height: 700px;
    object-fit: cover;
}

@media (max-width: 768px) {
    #left,
    #right {
        width: 100px; /* Adjust this value as needed for smaller screens */
        height: 175px; /* Adjust this value as needed for smaller screens */
    }
}


#left:hover,
#right:hover {
    cursor: pointer;
}

#or {
    display: table-cell;
    vertical-align: middle;
}

table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
